.controls {
    display: inline-block;
    width: 100%;
    height: 15vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
    border-top-left-radius: 20px;
    border-top-right-radius:  20px;
    box-shadow: inset 0 0 5px 10px #333a;
    /*overflow: hidden; */
}
    .inputs {
        display: inline-block;
        float: left;
        width: 80%;
        height: 100%;
    }
        .curtain {
            display: none;
        }
        .axis {
            display: inline-block;
            width: 100%;
            height: 50%;
        }
            .image {
                display: inline-block;
                float: left;
                width: 20%;
                height: 100%;
            }
                .image > img {
                    display: inline-block;
                    display: none;
                    width: 100%;
                    height: 100%;
                }
            .inputInfo {
                display: inline-block;
                float: left;
                width: 50%;
                height: 100%;
            }
                .inputInfo > span {
                    display: inline-block;
                    width: 100%;
                    height: 50%;
                    text-align: right;
                }
            .input {
                background-color: yellow;
                display: inline-block;
                float: left;
                width: 30%;
                height: 100%;
            }
                .input > input {
                    display: inline-block;
                    float: left;
                    width: 25%;
                    height: 75%;
                }
    .transport {
        background-color: red;
        display: inline-block;
        float: left;
        width: 20%;
        height: 100%;
    }
        .transport > div {
            display: grid;
            place-items: center;
            width: 100%;
            height: 50%;
        }
            .transport button {
                display: inline-block;
                width: 80%;
                height: 80%;
            }