.info {
    display: inline-block;
    width: 100%;
    height: 15vh;
    margin-top: 2vh;
}
    #primeFrame {
        display: grid;
        float: left;
        place-items: center;
        width: 50%;
        height: 100%;
    }
    .links {
        display: inline-block;
        float: left;
        width: 50%;
        height: 100%;
    }