.render {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}
    #field {
        display: grid;
        float: left;
        place-items: center;
        width: 80%;
        height: 400px; /* 100% */
    }
        #field > .grid {
            background-color: #aaa;
            display: grid;
            width: 100%;
            height: 100%;
        }
            .grid .spot {
                background-color: #ddd;
                display: inline-block;
                grid-column: auto / span 1;
                width: 100%;
                height: 100%;
            }
            .grid .spot.full {
                background-color: #222;
            }
    #edit {
        display: inline-block;
        float: left;
        width: 20%;
        height: 100%;
    }
        #edit > div {
            display: grid;
            place-items: center;
            width: 100%;
            height: 50%;
        }
            #edit button {
                display: inline-block;
                width: 80%;
                height: 80%;
            }